.Filme-info{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.Filme-info h1{
    margin: 14px 0;
}

.Filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.Filme-info h3{
    margin-top: 14px;
}

.Filme-info span{
    margin: 8px 0;
}

.Area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.Area-buttons button:hover{
    background-color: #116feb;
    color: #fff;
}

.Area-buttons a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.Area-buttons a:hover{
    color: #fff;
}